@import url(./base.css);

.services {
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services .cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.services .cards .card {
    width: 400px;
    padding: 40px;
    margin: 10px;
    border: 1px solid var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.services .cards .card ion-icon {
    font-size: 2rem;
}
.services .cards .card h3 {
    font-size: 1rem;
    margin: 10px;
}
/* sponsors start  */

  :root{
    --bg-clr: #64748B;
  }
  .carousel-wrapper {
    --width: 100px;
    --gap: 0;
    --num-items: 10;
    --ani-offset: calc(var(--width) * var(--num-items) * -1);
    --ani-speed: 10s;
    
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .carousel-wrapper::before,
  .carousel-wrapper::after{
    content: '';
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: 1;
    top: 0;
  }
  .carousel-wrapper::before{
    left: 0;
    background-image: linear-gradient(to right,var(--bg-clr) 0%,transparent 50%);
  }
  .carousel-wrapper::after{
    right: 0;
    background-image: linear-gradient(to left,var(--bg-clr) 0%,transparent 50%);
  }
  
  .carousel {
    display: flex;
    align-items: center;
    animation: slide var(--ani-speed) linear infinite;
  }
  .item{
    flex: 1 0 var(--width);
    text-align: center;
    padding:1rem;
  }
  .item > img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  @keyframes slide {
    100% {
      transform: translateX(var(--ani-offset));
    }
  }
  