@import url(./base.css);

.services {
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services .cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.services .cards .card {
    width: 400px;
    padding: 40px;
    margin: 10px;
    border: 1px solid var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.services .cards .card ion-icon {
    font-size: 2rem;
}
.services .cards .card h3 {
    font-size: 1rem;
    margin: 10px;
}