<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xan || <%=title%></title>
    <link rel="stylesheet" href="../style/404.css">
</head>
<body>
    <h1>
      404
      <span aria-hidden="true">404</span>
    </h1>
    <div class="cloak__wrapper">
      <div class="cloak__container">
        <div class="cloak"></div>
      </div>
    </div>
    <div class="info">
      <p>
        We're fairly sure that page used to be here, but seems to have gone
        missing. We do apologise on it's behalf.
      </p>
      <a
        class="follow"
        href="/"
        target="_blank"
        rel="noreferrer noopener"
        >Follow</a
      >
    </div>
</body>
</html>