<%-include("./inc/head.ejs")%>
<link rel="stylesheet" href="../style/index.css">
</head>
<body>
    <!-- navigation menu  -->
    <%- include("./inc/navigation.ejs") %>
    <!-- application menu   -->
     <%- include("./inc/app_menu.ejs") %> 
     <!-- intro start  -->
      
      <!-- intro end  -->
    <!-- libs -->
    <%- include("./libs/ion-icon_lib.ejs") %> 
</body>
</html>